*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('img/ambiente.jpg');
    background-size: cover; /* Para cobrir todo o corpo */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
    margin: 0; /* Remova todas as margens */
    padding: 0; /* Remova todo o preenchimento */
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.interface img{
    width: 250px;
}

.flex{
    display: flex;
    color: #fff;
}



/* Estilo cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    background-color: #101010;
    box-shadow: 0 0 5px #ff0000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
}

header a:hover{
    color: #ff0000;
    transform: scale(1.20);
}


header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px; /* Ajuste o espaçamento dos itens do menu */
}

header nav ul li a {
    color: azure;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px; /* Adicione padding para aumentar a área clicável */
    transition: .3s;
}

header nav ul li a:hover {
    color: #ff0000;
    transform: scale(1.15);
}


/* Estilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: auto; /* Adicione uma margem negativa para subir o conteúdo */
}

.topo-do-site h1 {
    text-shadow: 0 0 15px #fff;
    color: #fff;
    font-size: 60px;
    line-height: 40px;
    margin-bottom: 10px; /* Reduza a margem inferior do h1 */
}

.topo-do-site h1 span{
    text-shadow:0 0 10px #ff0000;
    color: #ff0000;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
}

.btn-matricula button{
    margin: 50px 0;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    background-color: #ff0000;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: .3s;
}

.btn-matricula button:hover{
    box-shadow:0 0 10px#ff0000;
    transform: scale(1.08);
}


.topo-do-site img{
    width: 300px; /* Defina a largura desejada para a imagem */
    height: auto; /* Mantenha a proporção original da imagem */
    transition: .2s;
    cursor: pointer;
}

.topo-do-site img:hover{
    transform: scale(1.09);
}


/*ESTRUTURA*/
.estrutura {
    padding: 40px 4%;
    margin-top: 10px ;
    background-image: url('img/estrutura.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir toda a área da seção */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
    height: 100vh; /* Defina a altura da seção como a altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}


.estrutura h2{
    
    margin-top: 15px;
    text-align: center;
    color: #ff0000;
}

.estrutura .flex {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Adicionamos para centralizar verticalmente */
    flex-wrap: wrap; /* Para permitir que as divs sejam envolvidas */
    margin-top: 60px;
}

.img-port {
    cursor: pointer;
    border-radius: 20px;
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 50% 0%;
    transition: 4s;
    position: relative;
    border: 2px solid #ff0000;
    margin: 20px; /* Adicionamos margem para espaçamento entre as divs */
    transition: .2s;
}

.img-port:hover{
    box-shadow: 0 0 10px #ff0000;
    transform: scale(1.05);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    transition: .2s;
}

.overlay:hover{
    opacity: 1;
    color: #ff0000;
    background-color: #10101093;
}


/* ESTILO SOBRE */

section.sobre {
    padding: 40px 4%;
    margin-top: auto;
    background-image: url(img/estrutura2.jpg);
    background-size: cover; /* Para cobrir toda a área da seção */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
    height: 90vh; /* Defina a altura da seção como a altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .interface {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.sobre .txt-topo-site {
    color: #fff;
    max-width: 600px;
}

.sobre h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #101010;
    box-shadow: 0 0 5px #ff0000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.sobre p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.sobre p span{
    color: #ff0000;
}

.sobre .img-topo-site {
    width: 50%;
}

.sobre .img-topo-site img {
    border-radius: 25px;
    border: 2px solid #ff0000;
    margin-left: 17vw;
    width: 70%;
    display: block; /* Adiciona esta propriedade para evitar problemas de alinhamento vertical */
    margin-top: 30px; /* Adiciona margem superior para espaçamento entre a imagem e o texto */
    transition: .2s;
    cursor: pointer;
}

.sobre .img-topo-site img:hover{
    box-shadow: 0 0 10px #ff0000;
    transform: scale(1.03);
}

/*ESTILO FOOTER*/

footer {
    color: azure;
    padding: 7px 4%;
    background-color: #ff0000;
    font-size: 18px;
}

.btn-social, p {
    display: inline-block;
}

.btn-social button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
    margin: 0 10px;
    display: inline-block;
    margin-top: 1vw;
    background-color: #ff0000;
}

.btn-social button:hover{
    transform: scale(1.20);
    
}