body{
margin: 0;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background:  rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.left-login  img{
    cursor: pointer;
    width: 15vw;
    height: 15vw;
    transition: 0.2s;
}

.left-login img:hover{
   
    transform: scale(1.05);
}


.left-login > h1{
    color: #00FF08;
}


.right-login{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 30px 35px;
    background:  #181920;
    border-radius: 13px;
    border: 2px solid #00FF08;
}

.card-login > h1{
   color: azure;
   font-weight: 800;
   margin: 0;
}

.card-login >h1:hover{
    cursor: pointer;
    color: #00FF08;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
width: 100%
border none;
border-radius: 25px;
padding: 15px;
background: #292929;
border: 2px solid #00FF08;
color: white;
font-size: 12pt;
outline: none;
box-sizing: border-box;
}

.textfield > label{
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: whitesmoke;
}

.btn-login{
    width: 60%;
    padding: 16px   0px;
    margin: 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(58, 58, 58);
    background: #3e9641;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover{
    background-color: #00ff08;
    color: rgb(255, 255, 255);
    transform: scale(1.10);
}

.linkcadastro a{
    text-decoration: none;
    color: azure;
}

.linkcadastro a span{
    color: #3e9641;   
}

.linkcadastro a span:hover{
    color: #00FF08;
}