body{
    margin: 0;
    background-color: aliceblue;
    font-family: sans-serif;
    background: url("fundo2.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir todo o corpo */
}


.cadastro{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: rgb(2, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px;
    border-radius: 20px;
    border: 3px solid #E0353B;
    transition: .2s;
    box-shadow: 0 0 10px #E0353B;
}

.card-cadastro img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #E0353B;
    transition: .3s;
    cursor: pointer;
}

.card-cadastro img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #E0353B;
}

h1{
    color:aliceblue;
    cursor: pointer;
}

h1:hover{
    transition: .3s;
    color: #E0353B;
}

#textfield {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
}

#textfield > input{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E0353B;
    box-sizing: border-box;
    outline: none;
}

#textfield > label{
    color: aliceblue;
}


#cadastro-botao{
    margin-top: 20px;
    width: 190px;
    height: 50px;
    border-radius: 15px;
    background-color: #E0353B;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: .3s;
}

#cadastro-botao:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #E0353B;
}