body{
    margin: 0;
    background-color: aliceblue;
    font-family: sans-serif;
    background: url("fundo2.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir todo o corpo */
}


.login{
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-login{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px;
    border-radius: 20px;
    border: 3px solid #E0353B;
    transition: .2s;
}

.card-login:hover{
    box-shadow: 0 0 15px #E0353B;
}

.card-login img{
    width: 50px;
    height: 50px;
    border: 2px solid #E0353B;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: .2s;
    cursor: pointer;
}

.card-login img:hover{
    transform: scale(1.08);
    box-shadow: 0 0 10px #E0353B;
}


.card-login > h1{
    color: azure;
    transition: .2s;
    cursor: pointer;
}

.card-login > h1:hover{
    color: #E0353B;
}

.textfield{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
}


.textfield > input{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    border: 3px solid #E0353B;
    box-shadow: 0 0 5px #E0353B;
    background-color: rgba(240, 255, 255, 0.918);
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: aliceblue;
    margin: 8px 0;
}


button{
    width: 93%;
    padding: 15px  0px;
    border: none;
    border-radius: 10px;
    background-color: #E0353B;
    margin: 5px;
    color: rgb(75, 75, 75);
    transition: .2s;
    cursor: pointer;
}

button:hover{
    color: aliceblue;
    box-shadow: 0 0 10px #E0353B;
}

footer{
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: #550003;
}

footer a:hover{
    color: #E0353B;
    transition: .2s;
}

p{
    color: azure;
}